<section class="allMovies">
    <h2>All Movies</h2>
    <section class="allMoviesContainer">
        <% movies.forEach(elt => { %> 
            <div class="singleMovie">
                <a href="/movie/<%- elt._id %>">
                    <img src="<%- elt.movieposter %> " alt="<%- elt.title %> ">
                </a>
                <div class="singleMovieTitle">
                    <p><%- elt.title %></p>
                    <p><%- elt.director %></p>
                </div>
            </div>
            <% }) %> 
    </section>
</section>